.git
.idea
node_modules
nbproject
.vscode
lib/Properties/generate.py
lib/Properties/proplist
test.js

# npm package files
iobroker.*.tgz

Thumbs.db

# i18n intermediate files
admin/i18n/flat.txt
admin/i18n/*/flat.txt